/* #board {
  width: auto;
  text-align: center;
} */

#reset {
margin-top: 20px;
}

.square {
  text-align: center;
  vertical-align: middle;
  font-size: 100px;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
}

/* h1 {
  text-align: center;
} */

/*  Notes

  *

*/